
.BottomNavbar{
    user-select: none;
    color: #a6adbb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    bottom: 0;
    margin-bottom: 60px;
    height: 62px;
    width: 300px;
border-radius: 24px;
    background-color: #242933;
}
.BottomNavbar .options{
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    font-size: 25px
}
.BottomNavbar .options:hover{
    font-size: 27px;
}



.link{
    text-decoration: none;
    color: #a6adbb;
}

#option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.optionsubhead{
    font-size: 9px;
    margin-top: 3.5px;
}

.homeimage{
    height: 30px;
    width: 30px;
    margin-bottom: -5px;
}
.homeimage:hover{
    height: 35px;
    width: 35px;
}