.ed{
    margin: 10px;
    border-radius: 12px;
    padding: 2px;
    text-align: left;
}

.hr{
    height: 1px;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(240, 255, 255, 0.218);
}