.AboutBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin-bottom: 300px;
    margin-top: 200px;

    height: 300%;
}

@media screen and (min-width:624px) {
    .AboutBox{
        max-width: 700px;
    }
}



/* Background Box For Content */

.box{
    margin-top: 30px;
    background-color: #d6eaffd2;
    padding: 14px;
    border-radius: 22px;}

/* When Width more than  */
@media screen and (min-width:476px) {
    .box{
        width: 100%;
        padding: 20px;        
    }
}


/* When Width less than  */
@media screen and (min-width:476px) {
    .box{
        padding: 20px;        
    }
}
