.main {
    background-color: #2a303c;
    display: flex;
    align-items: center;
    justify-content: center;
}


.CDR{
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CDR img{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    border-radius: 50%;
}

@media screen and ( min-width: 760px ) {
    .CDR img{
        top: 28%;
    }
    }

/* Typing animation */
.wrapper {
    /* margin-top: -40PX; */
    height: 40vh;
    display: grid;
    place-items: center;
}

.typingdemo {
    
    width: 13ch;
    animation: typing 1s steps(12), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2rem;
    /* color: #a6adbb; */
}



.typingdemo2 {
    width: 13.7ch;
    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1rem;
    color: #727477;
    margin-top: -200px;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
